/* Global Styles */
:root {
  --primary-color: #DC4C3F;
  --secondary-color: #e7877e;
  --primary-white-color: #FFF;
  --primary-text-color: #333333;
  --secondary-text-color: #757575;
  --dark-background-color: #141414;
  --light-background-color: #f2f2f2;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
  line-height: 1.6;
}
h1,
h2,
h3 {
  color: var(--primary-color);
  font-family: 'Expletus Sans', cursive;
}
h1 {
  font-size: 5rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
}
p {
  font-family: 'Hind', sans-serif;
  font-size: 1.6rem;
  color: var(--primary-text-color);
}
li {
  padding: 1rem 2rem;
  font-size: 1.6rem;
  color: var(--primary-text-color);
}
.border {
  border-bottom: .1rem solid var(--secondary-text-color);
}
/* Styling header */
header {
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  min-height: 10vh;
}
.siteTitle {
  color: var(--primary-white-color);
  padding: 1rem 2rem;
  letter-spacing: 1rem;
}
/* Styling main */
main {
  min-height: calc(100vh - 10vh - 10vh);
}
.projectHeader {
  padding: 1rem;
}
.active {
  text-decoration: underline;
}
#controlPanel {
  background-color: var(--light-background-color);
}
.project {
  cursor: pointer;
}
.project:hover {
  opacity: .7;
}
.completed {
  text-decoration: line-through;
}
.todos {
  padding: 2rem;
  list-style: none;
}
.listContainer {
  display: flex;
  justify-content: space-between;
}
.fa-circle-minus {
  font-size: 2rem;
  color: var(--primary-color);
}
.fa-circle-minus:hover {
  color: var(--secondary-color);
  cursor: pointer;
}
.modalContainer {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(#000, #000, #000, .3); */
}
/* .modal {
  
} */
/* Styling footer */
footer {
  background-color: var(--primary-color);
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.copyright {
  color: var(--primary-white-color);
}

/* Mobile responsive */
@media only screen and (min-width: 40rem) {

}