/* Global Styles */
:root {
  --primary-color: #DC4C3F;
  --secondary-color: #e7877e;
  --primary-white-color: #FFF;
  --primary-text-color: #333333;
  --secondary-text-color: #757575;
  --dark-background-color: #141414;
  --light-background-color: #f2f2f2;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
  line-height: 1.6;
}
h1,
h2,
h3 {
  color: var(--primary-color);
  font-family: 'Expletus Sans', cursive;
}
h1 {
  font-size: 5rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
}
p {
  font-family: 'Hind', sans-serif;
  font-size: 1.6rem;
  color: var(--primary-text-color);
  padding: 1rem 2rem;
}
li {
  padding: 1rem 2rem;
  font-size: 1.6rem;
  color: var(--primary-text-color);
}
.border {
  border-bottom: .1rem solid var(--secondary-text-color);
}
button {
  border-radius: 1rem;
  padding: 1rem 3rem;
  border: .1rem solid var(--primary-color);
  background-color: transparent;
}
button:hover {
  color: var(--primary-white-color);
  cursor: pointer;
  border: .1rem solid transparent;
  background-color: var(--primary-color);
}
@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.fadeOut {
  animation-duration: .5s;
  animation-name: fadeOut;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  from { opacity: 1}
  to { opacity: 0;
      visibility: hidden;}
}
input {
  padding: 1rem;
  margin: 1rem;
  font-size: 2rem;
  color: var(--secondary-text-color);
  border-radius: .5rem;
  border: none;
}
/* Styling header */
header {
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  min-height: 10vh;
}
.siteTitle {
  color: var(--primary-white-color);
  padding: 1rem 2rem;
  letter-spacing: 1rem;
}
/* Styling main */
main {
  min-height: calc(100vh - 10vh - 10vh);
}
.projectHeader {
  padding: 1rem;
}
.active {
  text-decoration: underline;
}
#controlPanel {
  background-color: var(--light-background-color);
}
.project {
  cursor: pointer;
}
.project:hover {
  opacity: .7;
}
.completed {
  text-decoration: line-through;
}
.todos {
  list-style: none;
}
.todos > li {
  font-size: 2rem;
}
.todoContent {
  padding-left: 1rem;
}
.crossed {
  text-decoration: line-through;
}
.listContainer {
  display: flex;
  justify-content: space-between;
}
.fa-circle-minus {
  font-size: 2rem;
  color: var(--primary-color);
}
.fa-circle-minus:hover {
  color: var(--secondary-color);
  cursor: pointer;
}
.modalContainer {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .7);
  transition: opacity 1s;
}
.modal {
  padding: 2rem;
  background: rgba( 255, 255, 255, 1 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 10px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  width: 90%;
  max-width: 40rem;
}
.alert {
  padding: 1rem;
}
.actions {
  display: flex;
  justify-content: space-around;
}
.cancel {
  border: .1rem solid #33cc33;
}
.cancel:hover {
  border: transparent;
  background-color: #33cc33;
}
.newProjectContainer {
  padding: 2rem 1rem;
  display: flex;
  justify-content: end;
}
#newProjectForm {
  display: flex;
  flex-direction: column;
}
.label {
  padding: 1rem 0;
  font-size: 2rem;
  color: var(--secondary-text-color);
}
#newProjectName,
#newTodoContent {
  border-bottom: .1rem solid var(--secondary-text-color);
  outline: none;
}
.flex {
  display: flex;
  flex-direction: column;
}
.submit {
  margin: 1rem auto;
}
.fa-square:hover,
.fa-square-check:hover {
  cursor: pointer;
  color: var(--secondary-color);
}
.addTodoContainer {
  padding: 1rem 2rem;
}
.todo > .fa-circle-minus {
  float: right;
}
/* Styling footer */
footer {
  background-color: var(--primary-color);
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.copyright {
  color: var(--primary-white-color);
}

/* Mobile responsive */
@media only screen and (min-width: 40rem) {

}